.conteiner,
.conteiner__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.conteiner__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news {
  white-space: nowrap;
  max-width: 70%;
}

.widget__list {
  padding-left: 0;
  margin: 0;
  line-height: 1.5;
  position: relative;
  margin-bottom: 10px;
}

.widget__title {
  text-align: start;
}

.widget__title__item {
  color: rgb(99, 202, 243);
  margin-right: 20px;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}

.widget__title__item.active {
  color: blue;
}

.news__date {
  color: grey;
}

.item__news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item__news__icon {
  width: 1em;
  height: 1em;
  background-image: url('./vite.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -1.5em;
}

.item__news__content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.exchange__rates {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

.item__rates {
  font-weight: 700;
  font-size: 1em;
  margin-right: 10px;
}

.item__rates__lost {
  color: grey;
  margin-right: 10px;
}

.exchange__rates__link {
  text-decoration: none;
}

.advertising {
  margin-left: 50px;
}

.advertising__img {
  object-fit: cover;
  width: 20%;
  height: 100%;
  border-radius: 50%;
}

.advertising h3 {
  color: blue;
  margin: 0;
}

.advertising p{
  margin: 0;
}

.search__form {
  display: flex;
  margin-top: 7px;
  margin-left: -135px;
}

.form__search__label {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 34px;
}

.form__search__label:first-letter {
  color: red;
}

.widget__search {
  margin-top: 10px;
  width: 100%;
}

.form__search__input {
  width: 100%;
  padding: 5px;
  border: 2px solid #fc0;
}

.form__search__btn {
  padding: 5px 20px 5px 15px;
  background-color: #fc0;
  border: none;
  cursor: pointer;
  clip-path: polygon(90% 0, 100% 50%, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
}

.form__description {
  font-weight: 700;
}

.form__example {
  font-weight: 400;
  color: grey;
}

.block__banner {
  width: 100%;
  height: 100px;
  margin: 20px 0px;
}

.banner__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: -75px -95px;
}

.widget__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer__column {
  width: 30%;
  padding: 5px;
  white-space: nowrap;
}

.widget__cloud {
  margin-bottom: 10px;
}

.cloud__body {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cloud__img {
  width: 40px;
  height: 40px;
}

.cloud__body__degree {
  font-size: 30px;
  margin-left: 10px;
}

.cloud__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.btn__media {
  border: 1px solid rgb(99, 202, 243);
  padding: 5px 5px 5px 40px;
  border-radius: 10px;
  color: white;
  position: relative;
  background-color: rgb(99, 202, 243);
 font-weight: 700;
}

.btn__media::before {
  content: "";
  position: absolute;
  background-image: url('../public/play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  left: 1px;
  top: 1px;
}

.widget__title__item:hover {
  color: lightgreen;
}

.form__search__btn:hover {
  opacity: 0.8;
}
